<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PATTERN" value="%p %d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %thread | %logger{25} | %m%n%throwable"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>